<%# cache ['home', site, I18n.locale] do %>
<% 
  @portfolio ||= site.portfolio
  @projects = []
  @portfolio.categories.each do |c| 
    if categorization = c.categorizations.first
      @projects << categorization.categorizable
    end
  end
  @project = @projects.first
%>

<div id="project-wrapper">
 <!--  <span id="border-wrapper" class="hidden-xs">
    <span class="border border-top"></span>
    <span class="border border-bottom"></span>
    <span class="border border-left"></span>
    <span class="border border-right"></span>
  </span> -->
  <%= render "throbber" %>
  <div id="project-container">
    <%= render "projects/single_project" %>
  </div>
</div>

<% if @projects %>
  <div class="projects">
    <%= render "projects/categories" %>
    <div class="th-thumbnails th-thumbnails-full-width">
      <% @portfolio.categories.each do |c|  %>
      <% if categorization = c.categorizations.first %>
        <% project = categorization.categorizable %>
        <article class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to(c.public_url, :class => "thumbnail thumbnail-category", :data => { :remote => true }) do %>
            <%= content_tag(:div, :class => "thumbnail-img") do %>
              <%= image_tag(project.thumbnail.thumbnail(device_type == :desktop ? "450x325#" : "320x230#").url(), :alt => project.thumbnail.title, :class => "img-responsive" ) %>
            <% end if project.thumbnail %>
            <div class="caption">
              <h3 class="thumbnail-heading"><%= c.title %> [<%= c.categorizations.count %>]</h3>
            </div>
            <span class="border border-top"></span>
            <span class="border border-bottom"></span>
            <span class="border border-left"></span>
            <span class="border border-right"></span>
          <% end %>
        </article>
      <%  end %>
      <% end %>
    </div>
  </div>
<% end %>
<%# end %>