<%# @project_cache(@project) do %>
<%
   image_geometry = local_assigns.has_key?(:image_style) ? image_style : site.preferred_image_carousel_size
%>
<article class='project'>
  <div class="carousel slide" id="project-carousel">
    <div class="carousel-inner">
      <% if @project.video %>
        <div class="item active flex-video vimeo" style="margin: 0 auto;text-align:center;">
          <iframe src="http://player.vimeo.com/video/<%= @project.video.address %>?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=0&amp;api=1"></iframe>
        </div>
      <% end %>
      <% @project.images.each_with_index do |img, index| %>
        <div class="item <%= 'active' if index == 0 && !@project.video %>">
          <%= image_fu(img, "1200x", :rel => "external") %>
        </div>
      <% end %>
    </div>
    <!-- Carousel indicator --> 
    <ol class="carousel-indicators">
      <% @project.images.each_with_index do |img, index| %>
        <li data-target="#project-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"><span class="round"></span></li>
      <% end %>
    </ol>

  </div>

      
    <a id="carousel-pause" class="animate-control animate-control-pause" href="#" data-slide="next"><i class="fa fa-pause"></i></a>
    <a id="carousel-play" class="animate-control animate-control-play" href="#" data-slide="next"><i class="fa fa-play"></i></a>
      
      
  <div class="page-header">
    <%= render_page_title(@project.title) %>
  </div>
  <%= render_copy_text(@project.body) %>
  <div class="share-project">
    <span class="share">share:&nbsp;</span>
    <span class="socials"><a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;">Facebook</a>, <a href="https://twitter.com/share" data-lang="en" target="_blank">Twitter</a></span>
  </div> 
</article>
<%# end %>